# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MSIs built by the Installer project
*.msi

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output directories
**/bin
**/obj
**/[xX]64

# MSI temp directories
**/wix

# Test output directories
**/TestResults

# IDE
**/.vs
**/.vscode
**/packages
src/Application/Migrations/20260204002044_InitialCreate.cs
src/Application/Migrations/20260204002044_InitialCreate.Designer.cs
src/Application/Migrations/LibraryContextModelSnapshot.cs
